/* reset css */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


/* font chữ  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


/* scrollbar */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
    transition: 1s;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #00ba51;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #20c668;
}